body {
  background-color: $bg;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
  &__img {
    max-width: 800px;
    width: 100%;
  }
}
