extends ../templates/template

block SEO
    include ../includes/meta_tags
    include ../includes/favicons

block styles
    <!-- build:css -->
    link(rel='stylesheet' href='./css/styles.css')
    <!-- endbuild -->

block main
    include ../layout/header
    include ../layout/main_content

block scripts
    <!-- build:js -->
    script(type='module' src='js/bundle.js')
    <!-- endbuild -->
