//- Favicon
link(rel='apple-touch-icon' sizes='180x180' href='./assets/images/favicons/apple-touch-icon180.png')
link(rel='icon' type='image/png' sizes='32x32' href='./assets/images/favicons/favicon_32x32.png')
link(rel='icon' type='image/png' sizes='16x16' href='./assets/images/favicons/favicon_16x16.png')
link(rel='icon' type='image/ico' sizes='16x16' href='./assets/images/favicons/favicon.ico')
//- link(rel='manifest' href='./assets/favicons/site.webmanifest')