@use './variables.scss' as bp;

@mixin sm {
  @media (min-width: #{bp.$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{bp.$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{bp.$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{bp.$screen-xl-min}) {
    @content;
  }
}

@mixin fontface($name, $file, $weight: normal, $style: normal) {
  @font-face {
    font-family: '#{$name}';
    src: url('../assets/fonts/#{$file}.woff2') format('woff2'),
      url('../assets/fonts/#{$file}.woff') format('woff2'),
      url('../assets/fonts/#{$file}.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
  }
}
