block config
    include ../config/vars
doctype
html(lang="en")
    head
        title= pageTitle
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block SEO
        block styles
    body
        block main

        block scripts